@{
    ViewBag.Title = "SportsCommittee";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="col-lg-3 Left">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" href="#">Principal</a>
      <a class="list-group-item list-group-item-action" href="../Home/AcademicCommittee" role="tab">Academic Committee</a>
        <a class="list-group-item list-group-item-action" href="../Home/FinanceCommittee">Finance Committee </a>
      <a class="list-group-item list-group-item-action" href="../Home/AciteCommittee">AICITE Committee </a>
      <a class="list-group-item list-group-item-action" href="../Home/ScholarshipCommittee">Scholarship Committee </a>
      <a class="list-group-item list-group-item-action" href="../Home/SportsCommittee" role="tab">Sports Committee </a>
       <a class="list-group-item list-group-item-action"  href="../Home/ProctorialCommittee">Proctorial Committee </a>
        <a class="list-group-item list-group-item-action" href="../Home/SecurityGardeningCommittee">Security &Gardening Committee </a>
        <a class="list-group-item list-group-item-action"  href="../Home/TrainingPlacementCommittee">Training & Placement Committee </a>
    </div>
  </div>
   <div class="col-lg-9">
       <div class="row">
           <div class="col-lg-12">
        <div class="card" style="background-color:#af0202;color:#FFFFFF;">
           <center> <i class="fa fa-graduation-cap" style="font-size:36px; color:#ffffff;"></i><font style="font-size:30px;">  <strong>Sports Committee</strong></font></center>
           </div>
           <div style="border:1px solid #d8dede;margin-bottom:20px;">
               <div class="row">
                   @using System.Data
                   @using System.Data.Sql
                   @using CSJM.Models
                   @{
                       ConnectionManager cm = new ConnectionManager();
                       string cmd = "select *from TBL_TeachersDetails";
                       System.Data.DataTable dt=cm.GetBulkRecord(cmd);
                       if(dt.Rows.Count>0)
                       {
                           for(int i=0;i<dt.Rows.Count;i++)
                           {
                               var Post = dt.Rows[i]["OtherPost"].ToString();
                               if (Post == "Spost Committee")
                               {
                               var Name = dt.Rows[i]["FirstName"].ToString();
                               var Name1 = dt.Rows[i]["LastName"].ToString();
                               
                               var Img ="../Content/TeacherImg/"+ dt.Rows[i]["Img"].ToString();
                               var FullName = Name + "  " + Name1;
                                <div class="col-lg-4 card1"id="pic_show" style="min-height:250px; margin:36px; padding:0px;">
                                   <a href="@Img" target="_blank"><img class="img-fluid"  src="@Img" height="100%" width="100px%" /></a>
                  
                              <div style="padding:10px 15px 7px 15px">
                                 <p style="text-align:justify"><strong >NAME:- @FullName</strong></p><hr>
                                 <p style="text-align:justify"><strong>POST:- @Post</strong></p><hr>
                             </div>
		                </div>
                   }
                   }
                           
                       }
                   
                       
                   }

                  
                     
           </div>

    </div>
       </div>
       </div>
       </div>

