@{
    ViewBag.Title = "Syllabus";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="col-lg-3 Left">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" href="../Home/AcademicProgram">Academic Program</a>
      <a class="list-group-item list-group-item-action" href="../Home/Syllabus" role="tab">Syllabus</a>
        <a class="list-group-item list-group-item-action" href="../Home/Admission">Admission </a>
      <a class="list-group-item list-group-item-action" href="../Home/FeesStructure">Fees Structure </a>
    
    </div>
  </div>
   <div class="col-lg-9">
       <div class="row">
           <div class="col-lg-12" style="border:1px solid #d8dede;padding:0">
        <div class="card" style="background-color:#af0202;color:#FFFFFF;">
           <center> <i class="fa fa-external-link" style="font-size:36px; color:#ffffff;"></i><font style="font-size:30px;">  <strong>Syllabus</strong></font></center>
           </div>
           <table class="table card">
              
                   @using System.Data
                   @using System.Data.Sql
                   @using CSJM.Models
                   @{
                       ConnectionManager cm = new ConnectionManager();
                       string cmd = "select *from TBL_Syllabus";
                       System.Data.DataTable dt=cm.GetBulkRecord(cmd);
                       if (dt.Rows.Count > 0)
                       {
                           
                           for (int i = 0; i < dt.Rows.Count; i++)
                           {
                              <tr>

                                  <td>@dt.Rows[i]["BranchName"].ToString()</td>
                                  <td>@dt.Rows[i]["Year"].ToString()</td>
                                  <td><a href="../Content/FdfFiles/@dt.Rows[i]["Files"].ToString()" target="_blank" style="text-decoration:underline;">Download Syllbus</a></td>
                              </tr>
                           }
                       }
                       }
      
                     

    </table>
       </div>
       </div>
       </div>
