@{
    ViewBag.Title = "AdmissionMngt";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}

@model CSJM.Models.AboutUsMassage
<div class="row">
  <div class="col-lg-3 Left">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="../Admin/AcademicsMgnt">Academic Program Mgnt</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="../Admin/SyllabusMgnt">Syllabus Mgnt</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="../Admin/AdmissionMngt" >Admission Mgnt</a>
      <a class="list-group-item list-group-item-action"  data-toggle="list" href="../Admin/FeesStructureMngt">Fees Mgnt</a>
        
    </div>
  </div>
  <div class="col-lg-8 Right">
      <div class="card" style=" font-size:22px; background-color:rgba(198, 20, 20, 0.87);color:#FFFFFF; border-radius:2px 2px 2px 2px; height:50px;">
         <strong><span class="fa fa-external-link"></span> Admission Management</strong>
      </div>
      <form action="../Admin/AdmissionMngt" method="post" enctype="multipart/form-data">
      <div class="card1" style=" border-radius:2px 2px 2px 2px; min-height:250px;margin-top:5px; padding:20px;">
      
         <label>What is type:</label>
          
      <textarea class="form-control" style="min-height:200px; width:700px; padding:20px;font-size:18px;" name="txtAdmission" placeholder="Plzzz Type here.............">@Model.dbAdmission</textarea>
          <br />
         <span style="color:red; font-size:18px;">@ViewBag.result</span> <br />
          <button type="submit" class="btn btn-success" style="width:100px" @ViewBag.SaveButton>Save</button>
          <button type="submit" class="btn btn-danger" style="width:80px" @ViewBag.EditButton>Update</button>
          
          
          </div>
          </form>
</div>
      </div>