@{
    ViewBag.Title = "PrincipalsMessageMgnt";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}
@model CSJM.Models.AboutUsMassage
<script src="~/Content/nicEdit.js"></script>

<script type="text/javascript">
    bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
</script>

<div class="row">
  <div class="col-lg-3 Left">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="../Admin/AboutInstituteMgnt" role="tab" aria-controls="home">About Institute Mgnt</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="../Admin/MissionMgnt" role="tab" aria-controls="profile">Mission Mgnt</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="../Admin/VisionMgnt" role="tab" aria-controls="profile">Vision Mgnt</a>
      <a class="list-group-item list-group-item-action"  data-toggle="list" href="../Admin/PrincipalsMessageMgnt" role="tab" aria-controls="messages">Principal&rsquo;s Message Mgnt</a>
      <a class="list-group-item list-group-item-action"  data-toggle="list" href="../Admin/RulesAndRegulationMgnt" role="tab" aria-controls="settings">Rules and Regulations Mgnt</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="../Admin/InstituteBrochureMgnt" role="tab" aria-controls="settings">Institute Brochure Mgnt</a>
       <a class="list-group-item list-group-item-action" data-toggle="list" href="../Admin/InfrastructureMgnt" role="tab" aria-controls="settings">Infrastructure Mgnt</a>
    </div>
  </div>
  <div class="col-lg-8 Right">
      <div class="card" style=" font-size:22px; background-color:rgba(198, 20, 20, 0.87);color:#FFFFFF; border-radius:2px 2px 2px 2px; height:50px;">
         <strong> Principals Message Management</strong>
      </div>
      <form action="../Admin/PrincipalsMessageMgnt" method="post" enctype="multipart/form-data">
             <div class="card1" style=" border-radius:2px 2px 2px 2px; min-height:250px;margin-top:5px; padding:20px;">
      
                    What is type:
          
                    <textarea class="form-control"  style="min-height:200px; width:700px; padding:20px" name="txtPrincipalsMsg" placeholder="Plzzz Type here.............">@Model.dbPrincipalMsg</textarea>
                   <br />
                 <label> Photo Select:</label>
                 <input type="file" name="txtfile" class="form-control"/>
                  <span style="color:red; font-size:18px;">@ViewBag.result</span> <br />
                 <button type="submit" class="btn btn-success" style="width:100px" @ViewBag.SaveButton>Save</button>
          <button type="submit" class="btn btn-danger" style="width:80px" @ViewBag.EditButton>Update</button>
          
          </div>
          </form>
</div>
      </div>